.card {
  display: flex;
  flex-direction: column;
  width: 18rem;
  height: 28rem;
  background-color: #282828;
  border-radius: 0.75rem;
  padding-bottom: 6rem;
  position: relative;
  cursor: pointer;
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  z-index: 1;
}

.card:hover {
  scale: (1.1);
}

.card:hover .img {
  scale: 1.1;
  transition: 0.4s ease-in-out;
  opacity: 0.3;
  filter: blur(4px);
}

.card:hover .mainDetails {
  transition: 0.4s ease-in-out;
  opacity: 0.3;
  filter: blur(4px);
}

.card:hover .categories {
  transition: 0.4s ease-in-out;
  opacity: 0.3;
  filter: blur(4px);
}

.card:hover .buttons {
  transition: 0.7s ease-in;
  opacity: 1;
}

.buttons {
  position: absolute;
  left: 0;
  top: 50;
  text-align: center;
  width: 100%;
  /* height: 100%; */
  display: flex;
  align-items: center;
}

.buttons {
  color: white;
  opacity: 0;
}

.buttons button {
  z-index: 999;
  cursor: pointer;
}

.link {
  text-decoration: none;
}

.img {
  width: 100%;
  height: 90%;
  border-radius: 0.75rem 0.75rem 0 0;
  object-fit: cover;
}

.noImg {
  min-height: 316.8px;
  width: 100%;
  border-radius: 0.75rem 0.75rem 0 0;
  object-fit: cover;
}

.mainDetails {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  height: 4rem;
}

.details {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 1.1rem;
  font-weight: 400;
  color: #fff;
  background-color: transparent;
  text-align: left;
  width: 70%;
}

.categories {
  padding-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 1rem;
  position: absolute;
  bottom: 1.5rem;
  width: 100%;
  margin: 0 auto;
}

.category {
  font-size: 0.9rem;
  font-weight: 400;
  color: #fff;
  background-color: transparent;
}

.scoreValue {
  margin-top: 3px;
  font-weight: 400;
  color: #bc59ce;
  background-color: transparent;
}

.score {
  margin-top: 3px;
  font-weight: 400;
  color: white;
  background-color: transparent;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  align-items: center;
}

.button {
  padding: 0.75rem 1.5rem;
  background-color: rgb(26, 25, 43);
  border: none;
  outline: none;
  border-radius: 10px;
  color: #bc59ce;
  font-size: 0.9rem;
  font-weight: 500;
}

.button:hover {
  background-color: #bc59ce;
  color: rgb(26, 25, 43);
}
