.movies {
  display: flex;
  flex-wrap: wrap;
  column-gap: 3rem;
  row-gap: 4rem;
  justify-content: center;
  align-items: center;
  padding: 2rem 0rem;
  margin-top: 1.5rem;
}

.loader {
  height: 100vh;
  position: absolute;
  top: 50%;
  left: calc(50% - 100px);
}

@media screen and (max-width: 768px) {
  .loader {
    width: 75px;
    height: calc(50% - 75px);
  }
}
