.movies {
  display: flex;
  flex-wrap: wrap;
  column-gap: 3rem;
  row-gap: 4rem;
  justify-content: center;
  align-items: center;
  padding: 2rem 0rem;
  margin-top: 1.5rem;
}

.loader {
  height: 100vh;
  position: absolute;
  top: 50%;
  left: calc(50% - 100px);
}

.noResultsContainer {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  top: 50%;
  gap: 4rem;
}

.innerFlexContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.noResults {
  color: #fff;
  text-align: center;
}

.refreshBtn {
  width: 7rem;
  background-color: #3a3287;
  border-radius: 0.5rem;
  filter: saturate(2.2);
}

@media screen and (max-width: 768px) {
  .loader {
    width: 75px;
    height: calc(50% - 75px);
  }
}

@media screen and (max-width: 440px) {
  .innerFlexContainer {
    flex-direction: column;
  }
}
